# Final Exercise on Pandas

In the last notebooks you have learned a lot of new things, and you have also been able to practice them. Only by practicing will you become more confident in using the methods and hopefully it will stick in your mind better.
Thus, here is another exercise on Pandas, in which you are asked to do a few different things with the new tools we learned about (methods for combining records, `pd.cut` and `pivot tables`).

We'll be working with the `wine` datasets that are located in the `data` folder in this day's directory. 

1) Read the `winequality-red.csv` data into a `DataFrame`, and the `winequality-white.csv` into another `DataFrame`.

In [1]:
import pandas as pd

In [2]:
# Loading the data
wine_red = pd.read_csv("data/winequality-red.csv", sep=';')
wine_red.head(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5

In [3]:
# Loading the data
wine_white = pd.read_csv("data/winequality-white.csv", sep=';')
wine_white.head(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.001,3.0,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.994,3.3,0.49,9.5,6

2) Double check that you've read them in right by using some of the attributes and methods available on `DataFrames` for getting a general sense of your data.

In [4]:
# Check shape
print(wine_red.shape)
print(wine_white.shape)

(1599, 12)
(4898, 12)

In [5]:
# Check column types
wine_red.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [6]:
# Check column types
wine_white.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [7]:
# Get summary statistics
wine_red.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [8]:
# Get summary statistics
wine_white.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000

3) I've decided that this month I want to stay away from wines with relatively high alcohol content. To do that, I'm going to avoid any wines that have a greater alcohol content than the mean alcohol content, and you're going to help me do this. To achieve this, let's do the following: 

  * Find the mean alcohol content, separately, for reds and whites.  
  * Create a `Series` that holds whether each row in each `DataFrame` (the reds, and whites) has a higher alcohol content than the mean. 
  * Merge this `Series` onto the `DataFrame`. I can imagine doing this with either a `.join()` or using `pd.concat()`. For practice, do it with both. Note: merges with `Series` work the same way that they work with `DataFrames`.  
  * Return back to me all those rows that will help me stay away from those wines with a higher alcohol content.

In [9]:
# 3a. Find the mean alcohol content, separately, for reds and whites.
print(f"Mean alcohol red wines: {wine_red.alcohol.mean()}")
print(f"Mean alcohol white wines: {wine_white.alcohol.mean()}")

Mean alcohol red wines: 10.422983114446529
Mean alcohol white wines: 10.514267047774602

In [10]:
# 3b. Create a Series that holds whether each row in each DataFrame (the reds, and whites) 
# has a higher alcohol content than the mean.
alcohol_series_red = wine_red.alcohol > wine_red.alcohol.mean()
alcohol_series_white = wine_white.alcohol > wine_white.alcohol.mean()

# Rename series
alcohol_series_red.rename('alcohol_above_average', inplace=True)
alcohol_series_white.rename('alcohol_above_average', inplace=True)

0       False
1       False
2       False
3       False
4       False
        ...
4893     True
4894    False
4895    False
4896     True
4897     True
Name: alcohol_above_average, Length: 4898, dtype: bool

In [11]:
# 3c. Merge this Series onto the DataFrame.

# Using pd.concat()
#wine_red = pd.concat([wine_red, alcohol_series_red], axis=1)
#wine_white = pd.concat([wine_white, alcohol_series_white], axis=1)

# Using .join()
wine_red = wine_red.join(alcohol_series_red)
wine_white = wine_white.join(alcohol_series_white)

wine_red.head(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alcohol_above_average
0,7.4,0.70,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False
1,7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,False

In [12]:
# 3d. Return back to me all those rows that will help me stay away from those wines with a higher alcohol content.
wine_red_low_alcohol = wine_red[wine_red['alcohol_above_average'] == False]
wine_red_low_alcohol.head(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alcohol_above_average
0,7.4,0.70,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False
1,7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,False

In [13]:
wine_white_low_alcohol = wine_white.query('alcohol_above_average == False')
wine_white_low_alcohol.head(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alcohol_above_average
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.001,3.0,0.45,8.8,6,False
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.994,3.3,0.49,9.5,6,False

4) Let's say that I want to get started on cutting back next month. This time, though, I want to focus on staying away from those wines with a high acidity. Specifically, I want to stay away from those wines that are in the highest bin of fixed acidity (highest bin out of 5). You're now going to help me do this. To achieve this, let's do the following: 

 * Separate the rows in each `DataFrame` into 5 equal width bins (not equal to quintiles) based off their fixed acidity. 
 * Merge the resulting `Series` holding these 5 bins onto the original `DataFrame`. I can imagine also doing this with either `.join()` or using `pd.concat()`. Try doing it with both for practice. 
 * Return back to me all those rows that are **not in** the top bin in terms of fixed acidity.

In [14]:
# 4a. Separate the rows in each DataFrame into 5 equal width bins (not equal to quintiles) based off their fixed acidity.
red_bins = pd.cut(wine_red['fixed acidity'], 5, labels=[1,2,3,4,5])
white_bins = pd.cut(wine_white['fixed acidity'], 5, labels=[1,2,3,4,5])

# rename Pandas series
red_bins.rename('acidity_bins', inplace=True)
white_bins.rename('acidity_bins', inplace=True)

0       2
1       2
2       3
3       2
4       2
       ..
4893    2
4894    2
4895    2
4896    1
4897    2
Name: acidity_bins, Length: 4898, dtype: category
Categories (5, int64): [1 < 2 < 3 < 4 < 5]

In [15]:
# 4b. Merge the resulting Series holding these 5 bins onto the original DataFrame.

# Using pd.concat()
#wine_red = pd.concat([wine_red, red_bins], axis=1)
#wine_white = pd.concat([wine_white, white_bins], axis=1)

# Using .join()
wine_red = wine_red.join(red_bins)
wine_white = wine_white.join(white_bins)

wine_red.head(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alcohol_above_average,acidity_bins
0,7.4,0.70,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False,2
1,7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,False,2

In [16]:
# 4c. Return back to me all those rows that are not in the top bin in terms of fixed acidity.
wine_red_low_acidity = wine_red[wine_red['acidity_bins'] != 5]
wine_white_low_acidity = wine_white[wine_white['acidity_bins'] != 5]

wine_red_low_acidity.head(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alcohol_above_average,acidity_bins
0,7.4,0.70,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False,2
1,7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,False,2

5) Let's say that I now want to know how much my decision to avoid those wines with higher `alcohol` content is going to limit the `quality` of wines that I can drink. To figure this out, I want to know a couple of things: 

 * The average `alcohol` content for those reds above the mean `alcohol` level, by quality.
 * The average `alcohol` content for those whites above the mean `alcohol` level, by quality. 
 
 Use a `pivot table` to solve this.

In [17]:
# Red wines
pd.pivot_table(wine_red, values='alcohol', index='alcohol_above_average', columns='quality')

quality,3,4,5,6,7,8
alcohol_above_average,,,,,,
False,9.564286,9.640909,9.600276,9.736524,9.922222,9.90000
True,10.866667,11.295000,11.088686,11.437214,11.708236,12.36875

In [18]:
# White wines (this time we can also use .pivot_tables())
wine_white.pivot_table(values='alcohol', index='alcohol_above_average', columns='quality')

quality,3,4,5,6,7,8,9
alcohol_above_average,,,,,,,
False,9.558333,9.636638,9.481132,9.679489,9.666667,9.469697,10.400
True,11.525000,11.425532,11.211099,11.604366,11.924761,12.139437,12.625

 6) Now, do the same for my decision to avoid wines with a high acidity next month: 

 * Find the average `alcohol` content for reds, by `quality` and `fixed acidity` bins.
 * Find the average `alcohol` content for whites, by `quality` and `fixed acidity` bins.
 
  Use a `pivot table` to solve this.

In [19]:
# Red wines
pd.pivot_table(wine_red, values='alcohol', index='acidity_bins', columns='quality')

quality            3          4          5          6          7          8
acidity_bins
1              9.875  11.006667  10.304245  11.223529  12.195402  13.633333
2             10.500   9.981667   9.773727  10.431985  11.486413  11.937500
3              9.150   9.920000   9.846429  10.687395  11.383333  11.916667
4              9.000   9.966667  10.229630  10.480952  10.809524   9.800000
5                NaN        NaN  12.050000  10.240000   9.866667        NaN

In [20]:
# White wines (this time we can also use .pivot_tables())
wine_white.pivot_table(values='alcohol', index='acidity_bins', columns='quality')

quality,3,4,5,6,7,8,9
acidity_bins,,,,,,,
1,9.850000,10.786364,10.136635,10.902765,12.021405,12.403030,NaN
2,10.472727,10.102564,9.732173,10.529056,11.303724,11.486364,12.625
3,10.540000,10.126471,10.176452,10.635247,10.988679,11.080000,10.400
4,9.650000,9.900000,9.700000,9.500000,NaN,NaN,NaN
5,NaN,NaN,NaN,11.100000,NaN,NaN,NaN